.register-page {
    background-color: #17202F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #fff;
  }
  
  .register-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    flex-grow: 1;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  /* ini kotak yg satu lg, KOTAK KECIL*/
  .register-form {
    background-color: #EBEDEF;
    padding: 40px;
    border-radius: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    margin-left: 10px;
  }
  
  .back-button {
    font-size: 20px;
    color: #496595;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .input-field {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
    background-color: #b0c4de;
    color: #fff;
  }
  
  .sign-up-button {
    background-color: #496595;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .google-signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 2px solid #3b82f6;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    background: white;
    color: #496595;
    font-size: 16px;
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
  }
  
  /* ============= batas kotak GUE PUSING ==================== */

  /* ini kotak si Create ur acc (kotak gede ya) */
  .create-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background: radial-gradient(circle at center, #D4D0AF 0%, #90A7C4 100%);
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 180px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 1;
  }
  
  .create-banner h1 {
    font-family: 'montserrat';
    font-size: 100px; 
    margin: 0;
    color: #496595; 
    background: linear-gradient(to bottom, #496595, #17202F);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

    font-weight: 900; 
    position: relative;
    left: 420px;
}

.create-banner p {
  font-family: 'montserrat';
  font-size: 65px; 
  font-weight: 900;
  margin: 0;

  color: #496595; 
  background: linear-gradient(0deg, #496595 0%, #17202F 100%); 

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.3);  
  position: relative;
  left: 420px;
  top: -20px;
}
  
  .create-banner p {
    font-size: 20px;
    margin-top: 10px;
    color: #dde2f0;
  }


  