.register-page {
  background-color: #17202f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #fff;
}

.register-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-grow: 1;
  padding: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

.register-form {
  background-color: #ebedef;
  padding: 40px;
  border-radius: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  margin-left: 10px;
}

.back-button {
  font-size: 20px;
  color: #496595;
  background: none;
  border: none;
  cursor: pointer;
}

.input-field {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 18px;
  background-color: #b0c4de;
  color: #fff;
}

.sign-up-button {
  background-color: #496595;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid #3b82f6;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  background: white;
  color: #496595;
  font-size: 16px;
}

.google-logo {
  width: 20px;
  height: 20px;
}

.create-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background: radial-gradient(circle at center, #d4d0af 0%, #90a7c4 100%);
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 180px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 1;
}

.create-banner h1 {
  font-family: 'montserrat';
  font-size: 100px;
  margin: 0;
  color: #496595;
  background: linear-gradient(to bottom, #496595, #17202f);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 900;
  position: relative;
  left: 420px;
}

.create-banner p {
  font-family: 'montserrat';
  font-size: 65px;
  font-weight: 900;
  margin: 0;

  color: #496595;
  background: linear-gradient(0deg, #496595 0%, #17202f 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 420px;
  top: -20px;
}

.create-banner p {
  font-size: 20px;
  margin-top: 10px;
  color: #dde2f0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.popup-content p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.popup-close-btn {
  background-color: #496595;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.popup-close-btn:hover {
  background-color: #3b82f6;
}

.toggle-password-btn {
  color: black;
}
